.App {
    width: 100vw;
    height: 100vh;
    
  }
  
body{
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke;
}

.TopBar
{
    background-color: white;
    width: 100%;
    height: 9%;
    display: flex;
    
    
}

.Left_sidebar
{
    height: 100vh;
    width: 5%;
    background-color: white;
}

.sidebarList{
    height: auto;
    width: 100%;
    padding: 0;
    background-color:white;

}

#save
{
    margin-right: auto;
}

.Left_sidebar #logo{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 10px;
}

.sidebarList .row {
    background-color: white;
    width: 80%;
    height: 50px;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 5%;

}

.sidebarList .row:hover{
    cursor: pointer;
    border: 5px solid rgb(168, 19, 168);
    border-radius: 9px;
    
    
}


.nav_bar{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.dashboard{
    width: 100%;
}

.sidebarList .row_right {
    background-color: white;
    width: 80%;
    height: 50px;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 5%;

}

.sidebarList .row_right:hover{
    cursor: pointer;
}
